.menu_container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: url("../../assets/images/Text-menu.svg"),
    url("../../assets/images/Kosti.svg"), url("../../assets/images/UKRAINE.png"),
    url("../../assets/images/menu-arrow.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 60px bottom 60px, left 340px bottom 60px,
    right 30px bottom 60px, right 0 top 0;
  animation-name: menu_container_animation;
  animation-duration: 2s;
  transition: ease-in-out;
}

@keyframes menu_container_animation {
  0% {
    background-position: left 60px bottom 60px, left 340px bottom 60px,
      right 30px bottom -100vh, right 0 top -100vh;
  }
  50% {
    background-position: left 60px bottom 60px, left 340px bottom 60px,
      right 30px bottom 80px, right 0 top 5vh;
  }
  100% {
    background-position: left 60px bottom 60px, left 340px bottom 60px,
      right 30px bottom 60px, right 0 top 0;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  50% {
    opacity: 0;
    transform: translateX(2vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  animation-name: menu;
  animation-duration: 0.5s;
}

.submenu::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -100px;
  width: 120px;
  height: 3px;
  background: linear-gradient(90deg, #eeff01 0%, #ea27c3 100%);
  z-index: -1;
}
.submenu li a {
  font-size: 16px;
  font-family: "Inter-Light";
  padding: 0;
}
.close_menu_link {
  width: fit-content;
  position: fixed;
  top: 64px;
  right: 64px;
}
.close_menu {
  position: relative;
  width: 24px;
  height: 24px;
}
.close_menu span:first-of-type {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: rotate(45deg);
  border-top: 2px solid yellow;
}
.close_menu span:last-of-type {
  width: 100%;
  position: absolute;
  top: 50%;
  border-top: 2px solid yellow;
  transform: rotate(-45deg);
}
.vertical {
  position: relative;
  width: 300px;
  padding: 220px 0 0 64px;
}

.vertical ul {
  list-style: none;
}
.vertical li {
  position: relative;
}
.vertical a {
  display: block;
  color: #eee;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.2s;
  font-size: 20px;
  font-family: "Inter-Regular";
}
.vertical li:hover > a {
  color: aqua;
}

.vertical ul ul {
  position: absolute;
  left: 0%;
  top: 10px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s;
  transform: translateX(50px);
}
.vertical ul li {
  color: white;
}
.vertical li:hover > ul {
  left: 100%;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}
