a {
  text-decoration: none;
  color: white;
}

.footer {
  width: 68.75vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  font-family: "Inter-Light";
  font-size: 16px;
  gap: 36px;
}
.media {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 42px;
}
